.home {
    padding:  0 auto;
    margin: 0 auto;
    height: 751px;
    width: 1440px;
}

.header {
    width: 1440px;
    height: 40px;
    background: #FED097;
    display: flex;
    justify-content: end;
    align-items: center;
    border-bottom: 2px solid;
    border-color: white;
}

.exit {
    margin-left: 400px;
    margin-right: 10px;
}

.header_content {
    width: 1440px;
    height: 711px;
    background-image: url(../Images/header.png);
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header_nav {
    display: flex;
    justify-content: space-between;
}

.header_nav_two {
    width: 418px;
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    margin-left: 70px;
    text-align: start;
}

.all_button {
    width: 170px;
    height: 54px;
    border-radius: 27px;
    background: #225B93;
    border:none;
    color: aliceblue;
}

.nav_ul {
    width: 450px;
    list-style: none;
    display: flex;
    color: white;
    justify-content: space-between;
}

.header_title {
    font-size: 81px;
    line-height: 81px;
    color: white
}
